.header-section {
  width: 100%;
  height: 56.2rem;

  @media (min-width: 1024px) {
    height: 65rem;
  }

  @media (min-width: 1200px) {
    height: 75rem;
  }

  @media (min-width: 1400px) {
    height: 85rem;
  }

  &__content {
    width: 100%;
    margin: 4rem 0 0 0;
    position: absolute;
    z-index: 20;
    left: 1.5rem;

    @media (min-width: 768px) {
      left: 8rem;
    }

    @media (min-width: 1200px) {
      margin: 4rem 0 0 0;
    }

    @media (min-width: 1400px) {
      margin: 19.6rem 0 0 0;
      left: 7rem;
    }
  }

  &__title {
    color: #FFF;
    @include GilroyBold();
    font-size: 3rem;
    line-height: normal;

    @media (min-width: 430px) {
      font-size: 4rem;
    }

    @media (min-width: 1024px) {
      font-size: 6.4rem;
    }
  }

  &__subtitle {
    color: #FFF;
    @include GilroyMedium();
    font-size: 1.4rem;
    line-height: normal;
    letter-spacing: -0.3px;
    max-width: 30rem;
    margin-bottom: 3rem;

    @media (min-width: 430px) {
      font-size: 1.6rem;
      max-width: 33.1rem;
      margin-bottom: 4rem;
    }

    @media (min-width: 1024px) {
      font-size: 2.4rem;
      max-width: 76.5rem;
      margin-bottom: 6rem;
    }
  }

  &__menu {
    display: none;

    @media (min-width: 1400px) {
      display: none;
      max-width: 125rem;
      padding: 2.15rem 4.3rem;
      border-radius: 2.5rem;
      background: rgba(255, 255, 255, 0.90);
      backdrop-filter: blur(7.5px);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-item {
      display: none;

      &:first-of-type {
        display: block;
      }
    }

    &-form {
      display: block;
    }
  }

  .menu-item__title {
    margin-bottom: 0.2rem;
    color: #333;
    @include GilroyMedium();
    font-size: 2rem;
    line-height: normal;
    position: relative;
    // cursor: pointer;

    &::after {
      position: absolute;
      content: "";
      top: -1rem;
      width: 1rem;
      height: 1rem;
      border-top: 0.2rem solid #C63235;
      border-right: 0.2rem solid #C63235;
      margin: 1.6rem 0 0 1rem;
      transform: rotate(135deg);
      display: inline-block;
    }
  }

  .btn--long-mobile {
    display: block;

    @media (min-width: 1400px) {
      display: none;
    }
  }

  .swiper.slider-main {
    position: relative;
    width: 100%;
    height: 52.6rem;

    @media (min-width: 1024px) {
      height: 65rem;
    }

    @media (min-width: 1200px) {
      height: 75rem;
    }

    @media (min-width: 1400px) {
      height: 85rem;
    }

    .swiper-pagination {
      position: absolute;
      z-index: 20;
      left: 50%;
      transform: translateX(-50%);
      bottom: 6rem;
      display: flex;

      @media (min-width: 1024px) {
        bottom: 11rem;
      }

      @media (min-width: 1200px) {
        bottom: 13rem;
      }

      @media (min-width: 1400px) {
        bottom: 6rem;
      }
    }

    .swiper-pagination-bullet {
      display: block;
      width: 0.8rem;
      height: 0.8rem;
      text-align: center;
      line-height: 2rem;
      font-size: 1.2rem;
      color: #000;
      opacity: 1;
      background: #E0E0E0;
      border-radius: 2.5rem;
      cursor: pointer;
  
      &:not(:last-of-type) {
        margin-right: 0.8rem;
      }
    }
  
    .swiper-pagination-bullet-active {
      width: 1.8rem;
      color: #fff;
      background: #FFF;
    }
  }

  .swiper-wrapper {
    display: flex;
    justify-content: space-between;
    height: unset !important;
  }

  .swiper-slide {
    position: relative;
    width: 100% !important;
    height: 52.6rem !important;

    @media (min-width: 1024px) {
      height: 65rem !important;
    }

    @media (min-width: 1200px) {
      height: 75rem;
    }

    @media (min-width: 1400px) {
      height: 85rem !important;
    }

    img {
      width: 100vw !important;
      height: 56.2rem !important;
      max-width: unset;

      @media (min-width: 1024px) {
        height: 65rem !important;
      }

      @media (min-width: 1400px) {
        height: 85rem !important;
      }
    }
  
}

.header-section__form {

  input {
    border-radius: 1rem;
    opacity: 0.2;
    background: #BDBDBD;
    padding: 1.2rem 2.3rem;
    margin-right: 4.2rem;
  }
}

.select {
  display: block;
  max-width: 21.5rem;
  width: 100%;
  position: relative;
}

.new-select {
  position: relative;
  cursor: pointer;
  user-select: none;
  color: #828282;
  @include GilroyMedium();
  font-size: 1.8rem;
  line-height: normal;
}

.new-select__list {
  position: absolute;
  top: 4.5rem;
  left: 0;
  cursor: pointer;
  width: 24rem;
  z-index: 2;
  background: rgba(255, 255, 255, 0.9);
  user-select: none;
}

.new-select__list.on {
  display: block;
}

.new-select__item {
  background: #E0E0E0;
}

.new-select__item span {
  display: block;
  padding: 1rem 1.5rem;
  background: #E0E0E0;
}

.menu-item__title::before {
  position: absolute;
  content: "";
  width: 0.1rem;
  height: 7rem;
  right: -4rem;
  top: -1rem;
  background: #828282;
}

.menu-item__title::after {
  position: absolute;
  content: "";
  top: -0.8rem;
  width: 1rem;
  height: 1rem;
  border-top: 0.2rem solid #C63235;
  border-right: 0.2rem solid #C63235;
  margin: 1.6rem 0 0 1rem;
  transform: rotate(135deg);
  display: inline-block;
  transition: all .27s ease-in-out;
  transform: rotate(135deg);
}

.menu-item__title.on::after {
  transform: rotate(315deg);
  top: -0.3rem;
}
}