extends ./../layouts/main

block variables
  - let pageTitle = 'Нивюс';

block content
  .wrapper
    include ./../components/sections/header-section/header-section.pug
    include ./../components/sections/team/team.pug