section.about
  .container 
    .about__inner
      .about__text Технический центр "НИВЮС" успешно работает с 1997 года. Это проверенный годами профессиональный технический центр, 
        | завоевавший доверие среди клиентов. В области обслуживания современных автомобилей, опыт - это наиболее важный фактор успешной 
        | и безукоризненной работы. За долгие годы работы мы решали самые сложные задачи связанные с ремонтом. Восстанавливали то, что 
        | другие отказывались восстанавливать. Находили и исправляли такие неисправность, которые никто не мог / не хотел исправлять. Опыт 
        | в ремонта автомобилей - это наш "конек", это наше конкурентное преимущество! В истории нашего техцентра бывали и сложные времена, 
        | но неизменным для нас остается принцип: "выполнить работу так качественно, как для себя!"
      .road-map
        .road-map__item
          .road-map__year 2021
          .road-map__title 
            p Коронавирус, 
            p Обновление оборудования 
            p Новые услуги по кузовному ремонту
          .road-map__info 
            p Это год был особенно насыщенным, но спешим порадовать Вас свежими новостями:
            ul 
              li Мы запустили локальный кузовной ремонт (ремонт без покраски) PDR
              li На сайтах компании запущен онлайн консультант (теперь можно оперативно получить ответы на самые важные вопросы) 
              li Закуплено и установлено новое оборудование для моечного комплекса
            p Желаем Вам крепкого здоровья в это не простое для всех нас время, берегите себя и своих близких!
        .road-map__item
          .road-map__year 2020
          .road-map__title 
            p Важный год в жизни каждого 
            p предприятия
          .road-map__info 
            p Фирма отметила 23-летие. Обновлена большая часть оборудования
            ul 
              li Заменен стенд развал-схождение
              li Установлены новые станки шиномонтажа 
              li Произведено капитальное обслуживание покрасочных камер
              li Закуплены новые, дилерские диагностические приборы
            p Планируется открытие второго техцентра
        .road-map__item
          .road-map__year 2018
          .road-map__title 
            p Штат сотрудников превысил 100.
          .road-map__info 
            p Штат персонала превысил 100 сотрудников. Открыт дополнительный цех, установлены 5 новых подъемников для коммерческого транспорта.
        .road-map__item
          .road-map__year 2015
          .road-map__title 
            p Открытие дополнительного цеха по ремонту автомобилей
          .road-map__info Открыт новый большой цех слесарного ремонта. Приобретены и установлены 10 новых подъемников.
        .road-map__item 
          .road-map__year 2010
          .road-map__title 
            p Реконструкция зоны приёмки/выдачи автомобилей
          .road-map__info Построено новое помещение приемки и комфортная комната ожидания для клиентов.
        .road-map__item 
          .road-map__year 2009
          .road-map__title 
            p Открытие второго технического центра
          .road-map__info
            ol 
              li Техцентр "НИВЮС" в третий раз получает звание лучшего технического центра г. Москвы
              li Открыт новый филиал техцентра "НИВЮС-Марьино"
        .road-map__item 
          .road-map__year 2008
          .road-map__title 
            p Снова в лидерах!
          .road-map__info 
            ol 
              li Техцентр "НИВЮС" во второй раз получил звание лучшего технического центра г. Москвы
              li Цех кузовного ремонта расширяется. Установлена вторая окрасочная камера. Одновременно может производиться производится ремонт 6 автомобилей.
              li На территории автосервиса работает большой салон по продаже подержанных автомобилей
        .road-map__item 
          .road-map__year 2007
          .road-map__title 
            p Техцентр НИВЮС - лучший в Москве
          .road-map__info 
            ol 
              li Техцентр "НИВЮС" получил звание лучшего технического центра г. Москвы
              li Приобретен и эффективно используется новейший стенд по регулировке развал схождения колес
              li Установлен стенд проверки ходовой части автомобиля.
        .road-map__item 
          .road-map__year 2006
          .road-map__title 
            p Установлен стенд Maha
          .road-map__info Цех слесарного ремонта оборудован дорогим, европейским стендом проверки тормозов и эффективности амортизаторов.
        .road-map__item 
          .road-map__year 2005
          .road-map__title 
            p Запущена услуга по ремонту автоматических коробок передач
          .road-map__info Оборудован и успешно запущен участок по ремонту автоматических коробок передач, вариаторов и роботизированных коробок передач.
        .road-map__item 
          .road-map__year 2004
          .road-map__title 
            p Открытие нового цеха по ремонту японских автомобилей
          .road-map__info Открыт специализированный цех по ремонту автомобилей марки Nissan и Infiniti
        .road-map__item 
          .road-map__year 2000
          .road-map__title 
            p Открытие цеха по кузовному ремонту.
          .road-map__info За этот год в автосервисе был открыт цех кузовного ремонта. Освоены технологии ремонта алюминиевых кузовов.
        .road-map__item 
          .road-map__year 1998
          .road-map__title 
            p Набор штата сотрудников, перевод работы в две смены.
          .road-map__info Штат сотрудников увеличился до 26 человек. Сервис-центр заработал в две смены, без выходных дней.
        .road-map__item 
          .road-map__year 1997
          .road-map__title 
            p Открытие технического центра в Москве
          .road-map__info 3 июня 1997 года технический центр "НИВЮС" начал свою работу. На тот момент в автосервисе работало всего 3 человека.
      img(src="assets/img/about.jpg" width="1052" height="600" alt="" loading="lazy").about__img