.team {
  border-radius: 2.5rem 2.5rem 0 0;
  background: #FFF;
  margin-top: -3rem;
  z-index: 10;

  @media (min-width: 900px) {
    margin-top: -8rem;
  }

  @media (min-width: 1400px) {
    margin-top: -3rem;
  }

  &__inner {
    width: 100%;

  }

  &__slider {
    margin: 10rem 0;

    h3 {
      color: #333;
      @include GilroyBold();
      font-size: 2.4rem;
      line-height: normal;
      margin-bottom: 0.2rem;

      @media (min-width: 900px) {
        font-size: 3.2rem;
      }
    }

    p {
      color: #828282;
      @include GilroyMedium();
      font-size: 1.8rem;
      line-height: normal;
      margin-bottom: 2.5rem;

      @media (min-width: 430px) {
        font-size: 2rem;
      }
    }
  }

  .swiper {
    width: 100%;
    max-width: 140rem;
    overflow-x: hidden;
    margin-bottom: 10rem;
  }

  .swiper-wrapper {
    display: flex;
    justify-content: space-between;
    height: unset !important;
  }

  .swiper-slide {
    position: relative;
    width: 20rem !important;
    height: 22rem !important;
    border-radius: 2.5rem;

    @media (min-width: 430px) {
      width: 23rem !important;
      height: 25rem !important;
    }

    @media (min-width: 1024px) {
      width: 25rem !important;
      height: 27rem !important;
    }

    @media (min-width: 1400px) {
      width: 33.5rem !important;
      height: 36rem !important;
    }

    .name {
      position: absolute;
      z-index: 10;
      bottom: 1rem;
      width: 100%;
      left: 1rem;
      color: #FFF;
      @include GilroySemiBold();
      font-size: 1.4rem;
      line-height: normal;

      @media (min-width: 430px) {
        left: 2rem;
      }

      @media (min-width: 1024px) {
        font-size: 1.8rem;
        bottom: 3rem;
      }

      @media (min-width: 1400px) {
        font-size: 2rem;
        left: 3rem;
      }
    }

    .position {
      position: absolute;
      z-index: 10;
      bottom: -0.5rem;
      width: 100%;
      left: 1rem;
      color: #E0E0E0;
      @include GilroyMedium();
      font-size: 1.2rem;
      line-height: normal;

      @media (min-width: 430px) {
        left: 2rem;
      }

      @media (min-width: 1024px) {
        font-size: 1.6rem;
        bottom: 1rem;
      }

      @media (min-width: 1400px) {
        font-size: 1.8rem;
        left: 3rem;
      }
    }

    &::after {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 57.29%, #000 100%);
      border-radius: 2.5rem;
    }
  
    img {
      display: block;
      width: 20rem;
      height: 22rem;
      object-fit: cover;
      max-width: unset;
      border-radius: 2.5rem;

      @media (min-width: 430px) {
        width: 23rem;
        height: 25rem;
      }

      @media (min-width: 1024px) {
        width: 25rem;
        height: 27rem;
      }

      @media (min-width: 1400px) {
        width: 33.5rem;
        height: 36rem;
      }
    }
  }

  .swiper-pagination {
    display: flex;
    // width: 4.8rem;
    justify-content: center;
    margin: 2rem auto 0 auto;
  }

  .swiper-pagination-bullet {
    width: 0.48rem;
    height: 0.48rem;
    text-align: center;
    line-height: 2rem;
    font-size: 1.2rem;
    color: #000;
    opacity: 1;
    background: #C63235;
    border-radius: 2.5rem;
    cursor: pointer;

    &:not(:last-of-type) {
      margin-right: 0.5rem;
    }
  }

  .swiper-pagination-bullet-active {
    width: 1.2rem;
    color: #fff;
    background: #C63235;
  }
}