section.team
  .container
    .team__inner
      .team__slider
        h3 Руководители
        p Наши руководители стояли у истоков и развивали техцентр всеми силами. Спустя многие годы эти люди стали гуру своего дела. 
          | Они знают все о механизмах компании. Знания руководителей помогают рядовым сотрудникам быстро освоиться и стать профессионалами 
          | в максимально короткий срок.
        .swiper.slider-first
          .swiper-wrapper
            .swiper-slide
              img(src="assets/img/team-1.jpg" width="335" height="360" alt="" loading="lazy")
              p.name Мысютин Роман Васильевич
              p.position Генеральный директор
            .swiper-slide 
              img(src="assets/img/team-2.jpg" width="335" height="360" alt="" loading="lazy")
              p.name Лукашин Роман
              p.position Исполнительный директор
            .swiper-slide 
              img(src="assets/img/team-3.jpg" width="335" height="360" alt="" loading="lazy")
              p.name Марушкин Василий
              p.position Мастер-приемщик 
            .swiper-slide 
              img(src="assets/img/team-4.jpg" width="335" height="360" alt="" loading="lazy")
              p.name Зуев Алексей
              p.position Мастер-приемщик
            .swiper-slide
              img(src="assets/img/team-1.jpg" width="335" height="360" alt="" loading="lazy")
              p.name Мысютин Роман Васильевич
              p.position Генеральный директор
            .swiper-slide 
              img(src="assets/img/team-2.jpg" width="335" height="360" alt="" loading="lazy")
              p.name Лукашин Роман
              p.position Исполнительный директор
            .swiper-slide 
              img(src="assets/img/team-3.jpg" width="335" height="360" alt="" loading="lazy")
              p.name Марушкин Василий
              p.position Мастер-приемщик 
            .swiper-slide 
              img(src="assets/img/team-4.jpg" width="335" height="360" alt="" loading="lazy")
              p.name Зуев Алексей
              p.position Мастер-приемщик
          .swiper-pagination
      .team__slider
        h3 Отдел продаж
        p Первоклассные специалисты по продажам. Помогут вам при выборе товаров или услуг, сориентируют по цене, разберут детали договора. 
          | Если вы не знаете, что подойдет именно вам или как правильно заказать слугу, то свяжитесь с сотрудниками отдела продаж.
        .swiper.slider-second
          .swiper-wrapper
            .swiper-slide
              img(src="assets/img/team-1.jpg" width="335" height="360" alt="" loading="lazy")
              p.name Мысютин Роман Васильевич
              p.position Генеральный директор
            .swiper-slide 
              img(src="assets/img/team-2.jpg" width="335" height="360" alt="" loading="lazy")
              p.name Лукашин Роман
              p.position Исполнительный директор
            .swiper-slide 
              img(src="assets/img/team-3.jpg" width="335" height="360" alt="" loading="lazy")
              p.name Марушкин Василий
              p.position Мастер-приемщик 
            .swiper-slide 
              img(src="assets/img/team-4.jpg" width="335" height="360" alt="" loading="lazy")
              p.name Зуев Алексей
              p.position Мастер-приемщик
            .swiper-slide
              img(src="assets/img/team-1.jpg" width="335" height="360" alt="" loading="lazy")
              p.name Мысютин Роман Васильевич
              p.position Генеральный директор
            .swiper-slide 
              img(src="assets/img/team-2.jpg" width="335" height="360" alt="" loading="lazy")
              p.name Лукашин Роман
              p.position Исполнительный директор
            .swiper-slide 
              img(src="assets/img/team-3.jpg" width="335" height="360" alt="" loading="lazy")
              p.name Марушкин Василий
              p.position Мастер-приемщик 
            .swiper-slide 
              img(src="assets/img/team-4.jpg" width="335" height="360" alt="" loading="lazy")
              p.name Зуев Алексей
              p.position Мастер-приемщик
          .swiper-pagination  
      .team__slider
        h3 Отдел запасных частей
        p Сотрудники отдела запчастей всегда помогут клиентам в оперативной поставке запчастей по выгодным ценам. Они отвечают за 
          | координацию сотрудников логистики, отчетную документацию. Если у вас возникли вопросы в ходе работы инженеров — смело обращайтесь 
          | к руководителю отдела.
        .swiper.slider-third
          .swiper-wrapper
            .swiper-slide
              img(src="assets/img/team-1.jpg" width="335" height="360" alt="" loading="lazy")
              p.name Мысютин Роман Васильевич
              p.position Генеральный директор
            .swiper-slide 
              img(src="assets/img/team-2.jpg" width="335" height="360" alt="" loading="lazy")
              p.name Лукашин Роман
              p.position Исполнительный директор
            .swiper-slide 
              img(src="assets/img/team-3.jpg" width="335" height="360" alt="" loading="lazy")
              p.name Марушкин Василий
              p.position Мастер-приемщик 
            .swiper-slide 
              img(src="assets/img/team-4.jpg" width="335" height="360" alt="" loading="lazy")
              p.name Зуев Алексей
              p.position Мастер-приемщик
            .swiper-slide
              img(src="assets/img/team-1.jpg" width="335" height="360" alt="" loading="lazy")
              p.name Мысютин Роман Васильевич
              p.position Генеральный директор
            .swiper-slide 
              img(src="assets/img/team-2.jpg" width="335" height="360" alt="" loading="lazy")
              p.name Лукашин Роман
              p.position Исполнительный директор
            .swiper-slide 
              img(src="assets/img/team-3.jpg" width="335" height="360" alt="" loading="lazy")
              p.name Марушкин Василий
              p.position Мастер-приемщик 
            .swiper-slide 
              img(src="assets/img/team-4.jpg" width="335" height="360" alt="" loading="lazy")
              p.name Зуев Алексей
              p.position Мастер-приемщик
          .swiper-pagination